<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ BaseURL + dish.image }}"
        alt="{{ dish.name }}"
      />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"> </span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading in progress . . .</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3>Comments</h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <h1 matLine>{{ comment.comment }}</h1>
        <p matLine>
          <span>{{ comment.rating }} Stars</span>
        </p>
        <p matLine>
          <span>-- {{ comment.author }}</span>
          <span>{{ comment.date | date }}</span>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid && previewComment">
        <h1 matLine>{{ previewComment.comment }}</h1>
        <p matLine>
          <span>{{ previewComment.rating }} Stars</span>
        </p>
        <p matLine>
          <span>-- {{ previewComment.author }}</span>
        </p>
      </mat-list-item>
    </mat-list>
    <form
      novalidate
      [formGroup]="commentForm"
      #cform="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <p>
        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="name"
            placeholder="Name"
            type="text"
          />
          <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider
          min="1"
          max="5"
          step="1"
          value="5"
          thumbLabel
          tickInterval="1"
          formControlName="rating"
        ></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea
            matInput
            formControlName="comment"
            placeholder="Your Comment"
            rows="10"
          ></textarea>
        </mat-form-field>
        <mat-error *ngIf="formErrors.comment">{{
          formErrors.comment
        }}</mat-error>
      </p>
      <button
        type="submit"
        mat-button
        class="background-primary text-floral-white"
        [disabled]="cform.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
